<div class="catalogue-header">
  <h2>All Games</h2>
  <!-- Example: You could put a sorting or filter button here if you want -->
</div>

<!-- Grid of games -->
<div class="game-grid">
  <% games.forEach(game => { %>
    <div class="game-card">
      <a href="/games/game/<%= game._id %>">
        <img
          src="<%= game.header_image || '/assets/images/default_game.jpg' %>"
          alt="<%= game.name %>"
          class="game-img"
        />
        <h3><%= game.name %></h3>
        <p>$<%= game.price %></p>
      </a>
    </div>
  <% }) %>
</div>

<!-- Pagination -->
<div class="pagination">
  <!-- Previous -->
  <% if (pagination.hasPrev) { %>
    <a href="/games/all-games?page=<%= pagination.currentPage - 1 %>">
      Previous
    </a>
  <% } %>

  <!-- Page numbers (or ellipses) -->
  <% pagination.pageNumbers.forEach(num => { %>
    <% if (num === "...") { %>
      <span class="ellipsis">...</span>
    <% } else if (num === pagination.currentPage) { %>
      <span class="active"><%= num %></span>
    <% } else { %>
      <a href="/games/all-games?page=<%= num %>"><%= num %></a>
    <% } %>
  <% }) %>

  <!-- Next -->
  <% if (pagination.hasNext) { %>
    <a href="/games/all-games?page=<%= pagination.currentPage + 1 %>">
      Next
    </a>
  <% } %>
</div>
